<p>The following bug(s) was/were added from the dashboard:</p>
<table {{ table_attrs }}>
    <thead>
        <tr>
            <th>Bug</th>
            <th>Component</th>
        </tr>
    </thead>
    <tbody>
        {% for i, (bugid, product, component, summary) in enumerate(data) -%}
            <tr {% if i % 2 == 0 %}bgcolor="#E0E0E0"
            {% endif -%}
            >
            <td>
                <a href="https://bugzilla.mozilla.org/show_bug.cgi?id={{ bugid }}">{{ bugid }}</a>
            </td>
            <td>{{ product }}::{{ component }}</td>
            <td>{{ summary }}</td>
        </tr>
    {% endfor -%}
</tbody>
</table>
